/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/public/vehicle_type_image/*
/public/user_image/*
/public/vehicle_document/*
# .env
# .env.backup
# .env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
